body {
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish';
    background-color: #0c1117;
}

header {
    text-align: -webkit-center;
    margin-top: -40px;
}

.header_main {
    width: 1200px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 140px;
}

.header_main_p {
    margin-left: 840px;
    cursor: pointer;
    margin-left: 1040px;
    color: white;
}

.p_header {
    margin-left: 20px;
    cursor: pointer;
    color: white;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.p_header {
    margin-left: 20px;
    cursor: pointer;
    color: white;

}

.buton_p:hover {
    background-color: #b3b323;
    transition: 1s;
}

.buton_p {
    border: #d43c38;
    background-color: #20ad18;
    padding: 10px 54px;
}

.aa {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat';
}

.maiin {
    width: 100%;
    height: 800px;
    background-image: url('../img/nnnnnnaaaa.jpg');
    background-repeat: no-repeat;
 
}

.text_maiin {
    position: absolute;
    width: 680px;
    margin-left: 160px;
    margin-top: 250px;
    font-family: "Montserrat", sans-serif;
}

.text_maiin h1 {
    font-size: 50px;
    color: #20ad18;
    margin-bottom: -10px;
}

.text_maiin h2 {
    color: #d43c38;
    font-size: 30px;
}

.text_maiin h4 {
    font-size: 17px;
    color: white;
    font-weight: 500;
}
.rating {
    display: inline-block;
    margin-left: 11px;
    margin-right: 10px;
    margin-top: 3px;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #0eff00;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 30px;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: #6f00ff;
    transition: color 0.3s;
}

.q_2:hover {
    border: 1px solid;
background: rgb(161, 19, 19);
}







.neon {
    width: 165px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: -10px;
    background: #20ad18;
    box-shadow: 0 12px 24px 0 #20ad18;
}
.text_g_1 {
    text-align: -webkit-center;
    background: #0e0e0e;
    color: white;
    align-content: center;
    height: 150px;
}
.kokoko {
    position: absolute;
    text-align: -webkit-center;
    margin-top: 65px;
}
.text_g_1 h1 {
    font-size: 40px;
}

.h1_poko {
    color: white;
}









.komp_u_2 {
    background-color: #171717;
    color: white;
    margin-top: -100px;
    display: flex;
    height: 1100px;
    justify-content: center;
}
.komp_u_1 {
    background-color: #171717;
    color: white;
    display: flex;
    margin-top: -300px;
    justify-content: center;
}
.komp {
    background-color: #171717;
    color: white;
    display: flex;
    height: 1190px;
    justify-content: center;
}
.komp_block_1:hover {
    border: 1px solid white;
}
.komp_2 {
    background-color: #171717;
    color: white;
    display: flex;
    margin-top: -450px;
    height: 1550px;
    justify-content: center;
}
.komp_block_1 {
    width: 540px;
    text-align: center;
    font-family: 'Montserrat';
    background-color: #111111;
    margin-top: 200px;
    border-radius: 30px;
    height: 800px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.komp_block_1_1 {
    width: 540px;
    text-align: center;
    font-family: 'Montserrat';
    margin-left: 100px;
    background-color: #111111;
    margin-top: 100px;
    border-radius: 30px;
    height: 955px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.img_div img {
    width: 400px;
    margin-top: 60px;
}

.bay_duv {
    display: flex;
    align-items: center;
    width: 450px;
    margin-left: 26px;
    
}

.lko {
    margin-bottom: 0px;
    font-size: 17px;
    margin-left: -2px;
    margin-top: 85px;
}

.bay_div_text {
    display: flex;
    width: 233px;
}

.lko_2 {
    margin-bottom: 0px;
}

.bay_div_1 h3 {
    font-size: 11px;
    margin-top: 3px;
    color: grey;
}

.pipii {
    margin-left: 121px;
}

.p_style_1 {
    margin-left: 150px;
}

.p_style_2 {
    margin-left: 102px;
}

.bay_div_2 p {
    color: #0eff00;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 24px;
    font-size: 18px;
    position: absolute;

}

.hr {
    height: 1px;
    background-color: #565656;
    width: 460px;
    margin-bottom: 25px;
    margin-left: 40px;
}

.text_hr {
    width: 454px;
    text-align: left;
    margin-left: 40px;
    font-size: 15px;
    margin-top: -5px;
}

.img_c {
    margin-right: 10px;
    background: black;
    margin-left: 40px;
    width: 20px;
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 14px;
}

.pona {
    display: -webkit-box;
    -webkit-box-align: center;
}

.pona p {
    font-size: 15px;
    margin-bottom: 23px;
}

.buutoon {
    margin-top: 30px;
    background: #1fc344;
    border-radius: 17px;
    width: 145px;
    height: 40px;
    align-content: center;

}

.buutoon:hover {
    background: #2ff802;
}
.buutoon_2 {
    margin-top: 5px;
    background: #6950fd;
    border-radius: 17px;
    width: 145px;
    height: 40px;
    align-content: center;

}

.buutoon_2:hover {
    background: #0279f8;
}
.buutoon_2:hover {
    background: #1d35af;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #fdfdfd, 0 0 20px #007eff, 0 0 50px #000000, 0 0 50px #1362d9;
}

a {
    text-decoration: none;
}

.pona p:hover {
    color: #58d41a;
}




.monik {
    background-color: #0c1117;
    text-align: -webkit-center;
    margin-top: 100px;
    
    justify-content: center;
    display: flex;
}
.block_text_monik {
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    align-items: center;
    border-radius: 12px;
    height: 125px;
    align-items: center;
    background: black;
}
.monik_block_1 {
    text-align: center;
    width: 400px;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-box-shadow: 0 0 8px 1px #2b3c5c;
    box-shadow: 0 0 8px 1px #2b3c5c
}
.monik_block_1:hover {
    box-shadow: 0 0 8px 1px #4a76c7
}
.block_img_monik {
    margin-top: 10px;
}
.block_img_monik img {
    width: 300px;
    height: 233px;
}
.q_2 {
    background: #cc0f0f;
    border-radius: 17px;
    width: 145px;
    margin-left: 25px;
    height: 40px;
    align-content: center;
    margin-top: 13px;
}
.q_2 p {
    color: white;
}
.q_p {
    margin-bottom: -15px;
    font-weight: 800;
}
.colorr {
    color: white;
    font-size: 19px;
    margin-bottom: 18px;
}
.w_1 {
    display: -webkit-inline-box;
    -webkit-box-align: center;
}
.w_2 {
    margin-left: -11px;
    font-size: 23px;
    color: rgb(255, 255, 255);
}
.q {
    margin-right: 13px;
    margin-left: 15px;
}
.cvet {
    background: radial-gradient(50% 50% at 50% 50%, rgb(255 255 255 / 20%) 0, rgb(255 255 255 / 13%) 37.5%, rgb(255 255 255 / 0%) 100%);
    width: 403px;
    height: 364px;
    z-index: 1;
    position: absolute;
}