body {
    margin: 0px;
    padding: 0px;
    background-color: #111111;
    font-family: 'Mulish';
}
html {
    scroll-behavior: smooth;
}
.aa {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat';
}

.container {
    max-width: 1410px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    width: 1903px;
    margin-top: -4px;
    margin-left: -425px;
}

.footer-col {
    width: 300px;
    padding: 0 15px;
}

.h4_footer {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    margin-left: 40px;
    position: relative;
}

.h4_footer_1 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    margin-left: 2px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #00f6ff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.buton_p {
    border: #d43c38;
    background-color: #d43c38;
    padding: 10px 54px;
}

.buton_p:hover {
    background-color: #810a0a;
    transition: 1s;
}.text_maiin {
    position: absolute;
    width: 680px;
    margin-left: 100px;
    margin-top: 300px;
    font-family: "Montserrat", sans-serif;
}

.text_maiin h1 {
    font-size: 50px;
    color: white;
    margin-bottom: -10px;
}

.text_maiin h2 {
    color: #d43c38;
    font-size: 30px;
}

.text_maiin h4 {
    font-size: 17px;
    color: white;
    font-weight: 500;
}

header {
    text-align: -webkit-center;
    margin-top: -40px;
}

.header_main {
    
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 82px;
}

.header_main_p {
    margin-left: 840px;
    cursor: pointer;
    margin-left: 1040px;
    color: white;
}
.p_header_cilka_1 {
    margin-left: 810px;
    cursor: pointer;
    color: white;
}

.p_header_cilka:hover {
    color: #d43c38;
}
.p_header_cilka_1:hover {
    color: #d43c38;
}
.p_header {
    margin-left: 20px;
    cursor: pointer;
    color: white;
}
.p_header_cilka {
     margin-left: 20px;
    cursor: pointer;
    color: white;
}
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.maiin {
    width: 100%;
    height: 100vh;
    background-image: url('../img/fon_grin_2.jpg');
    background-repeat: no-repeat;
    animation: animatedBackground 3s linear infinite;
}

.img_pereferia {
    width: 250px;
    margin-top: 10px;
    cursor: pointer;
}

.blok_p_mini {
    background-color: #111;
    margin-left: 23px;
    margin-right: 23px;
    border: 1px solid #db3737;
}

.blok_p_main {
    display: flex;
    justify-content: center;
}

.blok_p_mini:hover {
    transform: scale(1.1);
}

.komp_block_1:hover {
   border: 1px solid;
}

.pereferia {
    margin-top: -111px;
    text-align: center;
    background-color: #000000;
    height: 540px;
    align-content: center;
    color: white;
}

.swsw {
    color: white;
    position: absolute;
    font-size: 38px;
    font-family: "Oswald", sans-serif;
    margin-left: 870px;
    font-weight: 400;
    margin-top: -70px;
}
.text_maiin {
    position: absolute;
    width: 1106px;
    height: 200px;
    margin-left: 425px;
    margin-top: -150px;
    font-family: "Montserrat", sans-serif;
}

.text_maiin h1 {
    font-size: 50px;
    color: white;
    font-weight: 300;
    margin-bottom: -10px;
}

.text_maiin h2 {
    color: #d43c38;
    font-size: 30px;
}

.text_maiin h4 {
    font-size: 17px;
    color: white;
    font-weight: 500;
}

header {
    text-align: -webkit-center;
    margin-top: -40px;
}

.header_main {
   
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 82px;
}

.header_main_p {
    margin-left: 840px;
    cursor: pointer;
    margin-left: 1040px;
    color: white;
}
.p_header_cilka_1 {
   
    cursor: pointer;
    color: white;
}

.p_header_cilka:hover {
    color: #d43c38;
}
.p_header_cilka_1:hover {
    color: #d43c38;
}
.p_header {
    margin-left: 20px;
    cursor: pointer;
    color: white;
}
.p_header_cilka {
     margin-left: 20px;
    cursor: pointer;
    color: white;
}
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.maiin {
    width: 100%;
    height: 100vh;
}

.video {
    width: 1903px;
}
a {
    text-decoration: none;
}

.neon {
    width: 375px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: -10px;
    background: #00c2ff;
    box-shadow: 0 12px 24px 0 #00ffe2;
    margin-left: 760px;
}
.h1_poko {
    color: white;
}

.neon_3 {
    text-align: center;
    MARGIN-BOTTOM: -100PX;
    margin-top: 150px;
}
.lili {
    width: 1600px;
    height: 1px;
    margin-left: 160px;
    background: white;
    margin-top: 100px;
}











.opisnie {
    width: 1600px;
    margin-top: 200px;
 margin-left: 160px;
    display: flex;
    align-items: center;
}
.opisnie_2 {
    color: white;
    margin-left: 70px;
}
.opisnie_a {
    width: 1600px;
    margin-top: 100px;
 margin-left: 160px;
    display: flex;
    align-items: center;
}
.opisnie_2_a {
    color: white;

}
.jo {
    height: 2100px;
    background-color: #0c1117;
    margin-left: -425px;
    width: 1903px;
}

.b_2 {
    width: 260px;
}
.ce {
    justify-content: center;
    display: flex;
}
.b_main {
    margin-left: 55px;
    margin-right: 55px;
}




.mo_main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mo_small_1 img {
    height: 200px;
    width: 389px;
}

.mo_1 {
    width: 389px;
    border: 1px solid #767676;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -18px;
}
.mo_1_1 {
    width: 389px;
    border: 1px solid white;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 0 8px 1px #a3a3a3;
}
.mo_1_1:hover {
    border: 1px solid rgb(208, 20, 20);
    box-shadow: 0 0 8px 1px #e3b9b8;
}
.mo_1:hover {
    border: 1px solid rgb(208, 20, 20);
    box-shadow: 0 0 8px 1px #c3100d;
}

.mo_small_2 {
    color: white;
    background-color: #1c1c1c;
}

.f_knop {
    color: black;
    position: absolute;
    width: 100px;
    background: #c0ff01;
    text-align: center;
    height: 33px;
    margin-top: -55px;
    place-content: center;
    margin-left: 265px;
}

.f_knop:hover {

    box-shadow: 0 0 8px 1px #1aff00;
}

.p_1 {
    margin-left: 20px;
    font-size: 12px;
    color: rgb(0, 255, 0);
    margin-bottom: 40px;
}

.p_p {
    font-size: 18px;
    margin-top: -35px;
    margin-bottom: -10px;
    margin-left: 20px;
    font-family: 'Oswald';
}

.p_p_p {
    margin-bottom: 0px;
    padding-bottom: 19px;
    color: grey;
    margin-left: 20px;
    font-size: 11px;
}

.p_h1 {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 500;
    padding-top: 15px;
    margin-bottom: -10px;
    margin-left: 20px;
}


.container {
    max-width: 1410px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 300px;
    padding: 0 15px;
}

.h4_footer {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    margin-left: 40px;
    position: relative;
}

.h4_footer_1 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    margin-left: 2px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #00f6ff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.buton_p {
    border: #d43c38;
    background-color: #d43c38;
    padding: 10px 54px;
}

.buton_p:hover {
    background-color: #810a0a;
    transition: 1s;
}
.kontr {
    margin-top: 150px;
    margin-left: -50px;
}
.kontr_2 {
    margin-top: 50px;
    margin-left: -50px;
}
.kontr_99 {
    margin-top: 150px;   
}
.kontr_q {
    margin-top: 50px;
    margin-left: 50px;
}






.intel_main {
    background: white;
    height: 960px;
    width: 1903px;
    margin-top: 100px;
    margin-left: -425px;
    text-align: center;
}
.neon_111 {
    width: 375px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: -10px;
    background: #00c2ff;
    box-shadow: 0 12px 24px 0 #00ffe1;
    margin-left: 760px;
}
.h1_poko_0 {
    color: rgb(0, 0, 0);
}

.neon_4 {
    text-align: center;
    margin-top: 150px;
    padding-top: 100px;
    margin-bottom: 30px;
}
.mo_main_10 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.mo_main_11 {
    margin-top: 150px;
    display: flex;
    margin-left: -98px;
    justify-content: center;
}



.za_1 {
    display: flex;
    align-items: center;
    place-content: center;
    margin-left: 217px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.z_1 {
    width: 800px;
}
.za {
    width: 1903px;
    margin-left: -425px;
    margin-top: 100px;
   
    background: white;
}
.video_2 {
    width: 750px;
    margin-left: -200px;
}
.za_3 {
    background-color: #e1e1e2;
    width: 1903px;
    margin-left: -425px;

    margin-bottom: 100px;
}


.suu {
    margin-left: -60px;
}
.neon_12 {
    width: 375px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: -10px;
    background: #00c2ff;
    box-shadow: 0 12px 24px 0 #00ffe1;
    margin-left: 390px;
}
.neonoi {
    width: 375px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: -10px;
    background: #00c2ff;
    box-shadow: 0 12px 24px 0 #00ffe1;
    margin-left: 340px;
}












.g_main {
    display: flex;
    margin-top: 50px;
}
.g_2 {
    background-color: #212124;
    width: 615px;
    color: white;
    align-content: center;
    margin-left: 15px;
    padding: 5px;
    border-radius: 20px;
}
.g_3 {
    margin-left: 44px;
    margin-right: 44px;
}










.volt_text {
    color: rgb(0, 0, 0);
    align-content: center;
}
.volt {
    display: flex;
    width: 1379px;
    background-color: #f8f8f8;
}
.volt_main {
    margin-top: 100px;
    margin-left: -25px;
}
.volt_img img {
    margin-left: -274px;
}